*.png
*.jpg
*.JPG
*.zip
*.csv
*.mp4
*.avi 
*.yaml
*.mov
**test_images
**.pt
**__pycache__
**crops_folder
**ipynb_checkpoints
patched_yolo_infer.egg-info
dist
setup.cfg
.pypirc
build
info_how_pip_upload.txt
examples/patched_yolo_infer
**.ipynb